global
  tune.lua.bool-sample-conversion normal
  log stdout format raw daemon info
  lua-load /etc/haproxy/lua/auth.lua
  stats socket /var/run/haproxy/haproxy.sock level admin expose-fd listeners

defaults
  mode http
  timeout connect 5s
  timeout client 30s
  timeout server 30s
