global
  tune.lua.bool-sample-conversion normal
  # log /dev/log local0
  # log /dev/log local1 notice
  log stdout format raw daemon info
  lua-load /etc/haproxy/lua/auth.lua
  stats socket /var/run/haproxy/haproxy.sock level admin expose-fd listeners
  daemon

  # Mozilla Modern
  ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  ssl-default-bind-options prefer-client-ciphers no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets
  ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

defaults
  mode http
  log global
  option tcplog
  option dontlognull
  timeout http-request 10s
  timeout connect 5s
  timeout client  50s
  timeout server  30s
  timeout tunnel  2h

frontend haproxy-tls
  mode tcp
  bind :::443 v4v6 ssl crt /etc/letsencrypt/live/${DOMAIN_NAME}/haproxy.pem alpn h2,http/1.1
  # option tcplog
  option clitcpka
  clitcpka-idle 5m
  clitcpka-intvl 15s
  clitcpka-cnt 3

  tcp-request inspect-delay 5s
  tcp-request content accept if { req_ssl_hello_type 1 }

  # Backend rules
  use_backend reject if !{ ssl_fc_has_sni }
  use_backend reject if !{ ssl_fc_sni -i ${DOMAIN_NAME} } !{ ssl_fc_sni -m end .${DOMAIN_NAME} }
  use_backend %[lua.identify_protocol]

  default_backend to-internal-http

backend to-internal-http
  mode tcp
  timeout server 1h
  server loopback-forwarder 127.0.0.1:10080 send-proxy-v2

frontend internal-http
  mode http
  timeout client 1h
  bind 127.0.0.1:10080 accept-proxy alpn h2,http/1.1

  use_backend vless-grpc if { path_beg /google.internal.metrics.v1 }
  default_backend nginx

backend trojan-nomux
  mode tcp
  timeout server 1h
  server trojan-nomux host.docker.internal:11120 init-addr last,libc,none check

backend trojan
  mode tcp
  timeout server 1h
  server trojan host.docker.internal:11130 init-addr last,libc,none check

backend anytls
  mode tcp
  timeout server 1h
  server anytls host.docker.internal:11140 init-addr last,libc,none check

backend vless-grpc
  mode http
  timeout server 1h
  server vless-grpc host.docker.internal:11150 proto h2 check

backend nginx
  mode http
  option forwardfor
  http-reuse never
  server web nginx:36078 init-addr last,libc,none check

backend reject
  mode http
  http-request deny
